# gRPC

grpcio==1.35.0
grpcio-tools==1.35.0
grpcio-health-checking==1.35.0
protobuf==3.14.0

# ffmpeg

python-ffmpeg-video-streaming==0.1.14
ffmpeg-python==0.2.0

# celery

celery==4.4.7
flower==0.9.7
gevent==21.1.2
asgiref==1.1.1
redis==3.5.3

# circus
# can not building wheel for pyzmq 20
pyzmq==19.0.2
circus==0.17.1

# using .env
python-decouple==3.4

# clouds 
boto3==1.17.14

